@page "/"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<div>@((MarkupString)HtmlContent)</div>

@code{
    private string HtmlContent = string.Empty;

    private HttpClient StaticClient = default!;

    protected override async Task OnInitializedAsync()
    {
        StaticClient = new HttpClient { BaseAddress = new Uri(Navigation.BaseUri) };
        var markdown = await StaticClient.GetStringAsync("content/README.md");
        HtmlContent = Markdig.Markdown.ToHtml(markdown);
        await base.OnInitializedAsync();
    }
}
