@using Westwind.AspNetCore.Markdown

@{
    ViewBag.Title = "Home";
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        @Markdown.ParseHtmlStringFromFile("../../README.md")
    </div>
</div>

<p>
    <a asp-controller="Users" asp-action="List" asp-route-filter="" class="btn btn-primary">To User List</a>
</p>

